<div class="container">
  <div class="nes-container">
    <h1>Add console:</h1>
    <%= simple_form_for @console do |f| %>
      <%= f.input :name, input_html: { class: "nes-input" } %>
      <%= f.input :price_per_day, input_html: { class: "nes-input" } %>
      <%= f.input :min_rental_time, input_html: { class: "nes-input" } %>
      <%= f.input :max_rental_time, input_html: { class: "nes-input" } %>
      <%= f.input :description, input_html: { class: "nes-textarea" } %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "nes-btn is-primary" %>
      <%= link_to 'Back', consoles_path, class: "nes-btn is-secondary" %>
    <% end %>
  </div>
</div>
