<div class="container">
  <h1><%= @console.name %></h1>
  <p>Some sort of Image</p>
  <p>Maybe need to add a description to schema?</p>
  <p>Price per day: <%= @console.price_per_day %></p>
  <p>Minimum rental time: <%= @console.min_rental_time %> </p>
  <p>Maximum rental time: <%= @console.max_rental_time %></p>

  <%= link_to 'Back', consoles_path, class:'btn btn-primary'%>
</div>
