<% if @console.photo.attached? %>
  <div class="banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @console.photo.key %>');height:calc(100vh - 64px);">
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/xanldn89/image/upload/v1629884209/stock_console_lktnhq.jpg');height:calc(100vh - 64px);">
<% end %>
    <div class="container">
      <h1><%= @console.name %></h1>
      <p> Price per day: £<%= @console.price_per_day %> <br> Minimum rental time: <%= @console.min_rental_time %> days <br>Maximum rental time: <%= @console.max_rental_time %> days</p>
      <%# <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      <% if @rental %>
        <%= link_to "Rent", "#", class: "nes-btn is-disabled" %>
      <% elsif current_user && @console.user.id == current_user.id %>
        <%= link_to "Edit", edit_console_path, class: "nes-btn is-warning" %>
      <% else %>
        <%= link_to "Rent", new_console_rental_path(console_id: @console), class: "nes-btn is-primary" %>
      <% end %>
      <%= link_to 'Back', :back, class: "nes-btn is-secondary" %>
      <p class="mt-3"><%= @console.description %></p>
    </div>

    <div class="container">
      <% if current_user && @console.user.id == current_user.id %>
        <%= link_to profile_path, class: "nes-badge" do %>
          <span class="is-primary">Owned by you</span>
        <% end %>
      <% else %>
        <%= link_to user_path(@console.user), class: "nes-badge" do %>
          <span class="is-primary">Owned by <%= @console.user.first_name %></span>
        <% end %>
      <% end %>
    </div>

    <% if @rental %>
      <div class="container">
        <%= link_to console_rental_path(@console, @rental), class: "nes-badge" do %>
          <% if @rental.approved? == false %>
            <span class="is-warning">Awaiting Confirmation</span>
          <% else %>
            <% if @rental.current_renter_id == current_user.id %>
              <span class="is-error">Rented by you</span>
            <% else %>
              <span class="is-error">Currently rented</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

<%# <h2>Current</h2> %>

<%# <div class="container"> %>
  <%# <div class="nes-container"> %>

  <%# </div> %>
<%# </div> %>
