<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/xanldn89/image/upload/v1629884209/stock_console_lktnhq.jpg');" style="height:calc(100vh - 64px);">
  <div class="container">
    <h1><%= @console.name %></h1>
    <p> Price per day: £<%= @console.price_per_day %> <br> Minimum rental time: <%= @console.min_rental_time %> days <br>Maximum rental time: <%= @console.max_rental_time %> days</p>
    <%# <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% if @rented %>
      <%= link_to "Rent", "#", class: "nes-btn is-disabled" %>
    <% else %>
      <%= link_to "Rent", new_console_rental_path(console_id: @console), class: "nes-btn is-primary" %>
    <% end %>
    <%= link_to 'Back', consoles_path, class: "nes-btn is-secondary" %>
    <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia possimus est nulla totam debitis voluptatum fugiat qui atque tenetur, eos repudiandae excepturi adipisci officiis error labore maiores minima modi nemo.</p>
  </div>
-  <% if @rented %>
    <div class="container">
      <a href="#" class="nes-badge">
        <span class="is-error">Currently rented</span>
      </a>
      <%= link_to 'Edit', edit_console_rental_path(@console, @rental) %>
    </div>
  <% end %>
</div>
