<div class="row py-5 px-4">
  <div class="col-md-8 mx-auto">
    <div class="nes-container overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, style: 'width: 130px;', class:'rounded mb-2 img-thumbnail' %>
            <% else %>
              <img src="https://res.cloudinary.com/xanldn89/image/upload/c_thumb,w_200,g_face/v1630064327/stock_8_bit_hspodr.jpg" alt="..." width="130"
              class="rounded mb-2 img-thumbnail">
            <% end %>
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0"><%= @user.first_name %></h4>
            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i><%= @user.address %></p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <%# <%  raise %>
            <h5 class="font-weight-bold mb-0 d-block"><%= @consoles.count %></h5><small class="text-muted"> <i
                class="fas fa-image mr-1"></i>Consoles</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block" style="font-size:16px;">
              <%# @user.rating.times do %><% 5.times do %>
              👾
              <% end %>
            </h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Rating</small>
          </li>
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light">
          <p class="font-italic mb-0"><%= current_user.about %></p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Consoles for rent</h5>
        </div>
        <div class="cards">
          <% if @consoles.empty? %>
            <div>
              <h4>This user does not have any consoles for rent</h4>
            </div>
          <% else %>
            <% @consoles.each do |console| %>
              <div class="card-trip">
                <div class="profile-card-image-edit-button">
                  <%= link_to console_path(console) do %>
                    <% if console.photo.attached? %>
                      <%= cl_image_tag console.photo.key, style:'object-fit:cover;'%>
                    <% else %>
                      <img src="https://res.cloudinary.com/xanldn89/image/upload/v1629884209/stock_console_lktnhq.jpg" />
                    <% end %>
                  <% end %>
                </div>
                <div class="card-trip-infos">
                  <div class="card-name-and-info-text">
                    <h2><%= link_to console.name, console_path(console) %></h2>
                    <p><%= console.description %></p>
                  </div>
                  <% if console.rentals[0] %>
                    <div class="card-badge">
                      <% if console.rentals[0].approved? %>
                        <%= link_to console_path(console), class: "nes-badge is-icon", style: "height:100%;" do %>
                          <span class="is-error">Rented</span>
                        <% end %>
                      <% else %>
                        <%= link_to console_path(console), class: "nes-badge is-icon", style: "height:100%;" do %>
                          <span class="is-warning">Pending</span>
                        <% end %>
                      <% end %>
                    </div>
                  <% else %>
                    <h2 class="card-trip-pricing">£<%= console.price_per_day %> per day</h2>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
