<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/xanldn89/image/upload/v1630069878/shutterstock_601423187_zenfk2.jpg');">
  <div class="container">
    <h1><strong>16 bit rentals</strong> helps <strong>gamers</strong> re-live their fondest memories!</h1>
    <p>Rent and play the consoles from your childhood! We all love a bit of nostalgia. 😉</p>
    <%# <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% unless user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, class: "nes-btn is-normal" %>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <h1>Check out some of the amazing consoles available below</h1>
</div>


<div class="cards">
  <% @consoles_selection = @consoles.sample(12) %>
  <% @consoles_selection.each do |console| %>
  <div class="card-trip">
    <%= link_to console_path(console) do %>
      <% if console.photo.attached? %>
        <%= cl_image_tag console.photo.key, style:'object-fit:cover;'%>
      <% else %>
        <img src="https://res.cloudinary.com/xanldn89/image/upload/v1629884209/stock_console_lktnhq.jpg" />
      <% end %>
    <% end %>
    <div class="card-trip-infos">
      <div class="card-name-and-info-text">
        <h2><%= link_to console.name, console_path(console) %></h2>
        <p><%= "some text" %></p>
      </div>
      <h2 class="card-trip-pricing">£<%= console.price_per_day %> per day</h2>
      <% if console.user.photo.attached? %>
      <%= cl_image_tag console.user.photo.key, class:'card-trip-user avatar-bordered' %>
      <% else %>
      <img
        src="https://res.cloudinary.com/xanldn89/image/upload/c_thumb,w_200,g_face/v1630064327/stock_8_bit_hspodr.jpg"
        alt="..." width="130" class="card-trip-user avatar-bordered">
      <% end %>
    </div>
  </div>
  <% end %>
</div>
